@{
    ViewData["Title"] = "Home";
}

<section class="card card-body text-center d-flex justify-content-center card-invitation">
    
    <h1 class="display-4" id="reply-txt">You have been invited to a party!</h1>

    <h2><a asp-controller="Home" asp-action="Invitation">Respond the invitation here</a></h2>
    
</section>
